<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark col-sm-12 col-md-12 col-lg-12">
    <img src="/static/img/HeHBwztNLTeyRCq2Ao2VCEmDnTHZMx6F7CEWahicFvuGqsorG2BJKMeCdwUaupLqL6rlH8iBAGx69rI7iEG9uAtU.jpg" height="50px" style="margin-right: 10px">
    <a class="navbar-brand" href="#">Для Джунов</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" 
        aria-controls="nav-content" aria-expanded="false" aria-label="Переключатель навигации">
        <span class="navbar-toggler-icon"></span>
    </button> 
      <div class="collapse navbar-collapse" id="nav-content"> 
        <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="index.html">Личный кабинет</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="price.html">Услуги</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="info.html">Справочник</a>
          </li>
          
        </ul>
      </div>
    </nav>
    <main class="main">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-12 col-sm-6 col-md-7 col-lg-4" id="portf">Наши Услуги</h1>
                
            </div>
        </div>
        <div class="container pt-5">
        <table class="table non-bordered col-lg-12 col-md-12 table-responsive-sm">
          <thead>
            <tr>
              <th scope="col">Название работы</th>
              <th scope="col">Стоимость</th>
              <th scope="col" ></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><a href="#">Решение контрольной по Дискретной математике</a></th>
              <td>500 Рублей</td>
              <td><a href="#" class="btn btn-primary">Заказать</a></td>
            </tr>
            <tr>
              <th scope="row"><a href="#">Решение контрольной по Мат.Анализу</a></th>
              <td>500 Рублей</td>
              <td><a href="#" class="btn btn-primary">Заказать</a></td>
            </tr>
            <tr>
              <th scope="row"><a href="#">Решение контрольной по АиГ</a></th>
              <td>500 Рублей</td>
              <td><a href="#" class="btn btn-primary">Заказать</a></td>
            </tr>
            <tr>
              <th scope="row"><a href="#">Решение задач по программированию</a></th>
              <td>500 Рублей</td>
              <td><a href="#" class="btn btn-primary">Заказать</a></td>
            </tr>
            <tr>
              <th scope="row"><a href="#">Решение экзамена по математике</a></th>
              <td>1000/1500/2000 Рублей</td>
              <td><a href="#" class="btn btn-primary">Заказать</a></td>
            </tr>
            <tr>
              <th scope="row"><a href="#">Сделать дипломную работу</td>
                <td>10 000 Рублей</td>
              <td><a href="#" class="btn btn-primary">Заказать</a></td>
            </tr>
            <tr>
              <th scope="row"><a href="#">Сделать учебную практику/курсовую</a></th>
              <td>2000 Рублей</td>
              <td><a href="#" class="btn btn-primary">Заказать</a></td>
            </tr>
            <tr>
              <th scope="row"><a href="#">Сделать доклад/презентацию/реферат</a></th>
              <td>500 Рублей</td>
              <td><a href="#" class="btn btn-primary">Заказать</a></td>
            </tr>
            <tr>
              <th scope="row"><a href="#">Личная консультация</a></th>
              <td>1000 Рублей</td>
              <td><a href="#" class="btn btn-primary">Заказать</a></td>
            </tr>
            <tr>
              <th scope="row"><a href="#">Подписка</a></th>
              <td>1500 Рублей</td>
              <td><a href="#" class="btn btn-primary">Заказать</a></td>
            </tr>
          </tbody>
        </table>
        </div>
    </main>
    <footer class="card-footer">
      <div class="container">
        <span class="text-muted">© Для Джунов. Все права защищены</span>
      </div>
    </footer>
</body>
</html>