<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark col-sm-12 col-md-12 col-lg-12">
    <img src="/static/img/HeHBwztNLTeyRCq2Ao2VCEmDnTHZMx6F7CEWahicFvuGqsorG2BJKMeCdwUaupLqL6rlH8iBAGx69rI7iEG9uAtU.jpg" height="50px" style="margin-right: 10px">
    <a class="navbar-brand" href="price.html">Для Джунов</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" 
        aria-controls="nav-content" aria-expanded="false" aria-label="Переключатель навигации">
        <span class="navbar-toggler-icon"></span>
    </button> 
      <div class="collapse navbar-collapse" id="nav-content"> 
        <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="index.html">Личный кабинет</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="price.html">Услуги</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="info.html">Справочник</a>
          </li>
          
        </ul>
      </div>
    </nav>
    <main class="main">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-12 col-sm-6 col-md-7 col-lg-4" id="portf">УдГУ и его история</h1>
                
            </div>
        </div> 
    <div class="row">
        
        <div class="container pt-5 col-xs-12 col-sm-8">
            <img class="rounded float-right col-sm-5 pt-2" src="/static/img/411px-Удмуртский_государственный_университет.jpg">
            <p class="h3">Описание:</p>
            <p class="text-left">Удму́ртский госуда́рственный университе́т (УдГУ, ранее Удмуртский государственный педагогический институт) — высшее учебное заведение в Ижевске, крупнейший центр высшего образования Удмуртской Республики. В состав университета входят 13 факультетов, 7 институтов, 18 научно-исследовательских лабораторий, 7 представительств, 134 кафедры, 19 учебно-деловых центров. </p>
            <p class="h3">История:</p>
            <p class="text-left">10 апреля 1931 года был образован Удмуртский государственный педагогический институт (УГПИ)[R 3]. В 1958 году УГПИ был переведён из третьей категории в более высокую — вторую, с правом иметь аспирантуру. 5 марта 1971 года Совет министров СССР принял постановление об организации Удмуртского государственного университета в Ижевске[R 4].

                19 апреля 1971 года — приказом Министерства высшего и среднего специального образования СССР № 323, УГПИ преобразован в Удмуртский государственный университет. 29 декабря 1972 года Указом Президиума Верховного Совета РСФСР присвоено звание Удмуртский государственный университет имени 50-летия СССР Министерства высшего и средне-специального образования РСФСР[R 5].
                
                С 20 сентября 2002 года университет носит название «Государственное образовательное учреждение высшего профессионального образования „Удмуртский государственный университет“». С 23 марта 2011 года — «Федеральное государственное бюджетное образовательное учреждение высшего профессионального образования „Удмуртский государственный университет“». С 19 апреля 2016 года — «Федеральное государственное бюджетное образовательное учреждение высшего образования „Удмуртский государственный университет“». </p>
        </div>
    </div>
       
    </main>
    <footer class="card-footer">
      <div class="container">
        <span class="text-muted">© Для Джунов. Все права защищены</span>
      </div>
    </footer>
</body>
</html>